<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
		<header>Registration Form</header>
		<form>
			<div class="input-field">
				<input type="text" name="username" required>
				<label>Username</label>
			</div>
            <div class="input-field">
                <input type="text" name="fullname" required>
                <label>Fullname</label>
            </div>
            <div class="input-field">
                <input type="tel" name="txtTelephone" required>
                <label>Phone</label>
            </div>
            <div class="input-field">
                <input type="email" name="email" required>
                <label>Email</label>
            </div>
            <div class="input-field">
                <input type="email" name="confirm_email" required>
                <label>Confirm Email</label>
            </div>
			<div class="input-field">
				<input type="password" name="password" required>
				<label>Password</label>
			</div>
            <div class="input-field">
                <input type="password" name="confirm_password" required>
                <label>Confirm Password</label>
            </div>
			<div class="button">
				<div class="inner">
				</div>
				<button>SIGN UP</button>
			</div>
		</form>
		<div class="auth">
		Or Sign Up with</div>
		<div class="links">
			<div class="facebook">
				<i class="fab fa-facebook-square"><span>Facebook</span></i>
			</div>
			<div class="google">
				<i class="fab fa-google-plus-square"><span>Google</span></i>
			</div>
		</div>
	</div>
</body>
</html>