body {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: auto    ;
}
.table-container {
    
    border-style: ridge;
    width: 80%;
    height: 300px;
    margin: auto;
    
}

.sticky-thead th {
  position: sticky;
  top: 0;
  background-color: white; /* Để phần thead hiển thị ở trên cùng */
  z-index: 1;
}

.tab {
  text-align: center;
  margin-bottom: 20px;
}

.tab button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
    

th,
td {
    border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}


th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #78aa04;
    
  }

h1 {
    text-align: center;
}
h2 {
    text-align: right;
}
